# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.1.1
# =====================================

# =====================================
# 启动端口号
# =====================================
server:
  #  address: 127.0.0.1 #需去掉，否在docker中映射地址出错
  port: 4705
#  servlet:
#    context-path: /redis # /${spring.application.name}
spring:
  application:
    name: hawthorn-redis
  profiles:
    include: common-prod

  # =====================================
  # druid
  # =====================================
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/hawthorn?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useOldAliasMetadataBehavior=true&useSSL=false&autoReconnect=true&failOverReadOnly=false
      username: root
      password: 123456
