# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.1.1
# =====================================

# =====================================
# 启动端口号
# =====================================
server:
  #  address: 127.0.0.1 #需去掉，否在docker中映射地址出错
  port: 4701
#  servlet:
#    context-path: /admin # /${spring.application.name}
spring:
  application:
    name: hawthorn-admin
  profiles:
    include: common-dev
  cloud:
    # =====================================
    # config 配置中心
    # =====================================
    config:
      discovery:
        enabled: true  # 开启服务发现
        service-id: hawthorn-configbus # consul配置中心名称
      label: dev-andyten  # 对应git的分支，如果配置中心使用的是本地存储，则该参数无用
      name: application  # 对应{application}部分
      profile: admin-dev  # 对应{profile}部分
      #默认false，是否启动快速失败功能，必须配置该内容，否则无法获取；功能开启则优先判断config server是否正常，在获取不到远程配置时，立即失败，但是用下边的[retry]配置进行重试(粗粒度)
      fail-fast: true
      retry:
        initial-interval: 1000 #最初重试间隔为 1000 毫秒
        max-attempts: 10       #最多重试 10 次
        max-interval: 5000     #最长重试间隔为 5000 毫秒
        multiplier: 1.2        #每次重试失败后，重试间隔所增加的倍数
  # =====================================
  # druid
  # =====================================
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/hawthorn?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useOldAliasMetadataBehavior=true&useSSL=false&autoReconnect=true&failOverReadOnly=false
      username: root
      password: 123456

  # =====================================
  # zipkin 通过docker容器配置与rabbit和elasticsearch关联
  # =====================================
  zipkin:
    #    base-url: http://10.211.55.14:9411/ # rabbit模式需要注释掉
    sender:
      type: rabbit # 默认为web，http方式
    compression:
      enabled: true
  sleuth:
    sampler:
      probability: 0.1 #样本采集量，默认为0.1，为了测试这里修改为1，正式环境一般使用默认值（百分比采样）。
    async: #过滤async跟踪
      enabled: false
    web:
      enabled: true
      #additional-skip-pattern: ".*feign.hello.*" # 过滤不需要跟踪的url
    scheduled: #过滤scheduled跟踪
      enabled: false
    redis:
      enabled: false # 过滤redis跟踪

# =====================================
# test
# =====================================
hello: hello, dev configurations.
