# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.1.0
# =====================================

spring:
  servlet: # springboot2.0以后使用servlet，之前使用http
    multipart:
      max-file-size: 5MB # 单个文件大小
      max-request-size: 25MB # 总上传的数据大小
# =====================================
# swagger
# =====================================
springfox:
  documentation:
    swagger-ui:
      enabled: true
knife4j:
  enable: true

# =====================================
# test
# =====================================
hello: hello, dev configurations.
