# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.1.1
# =====================================

# =====================================
# 启动端口号
# =====================================
server:
  port: 4902
spring:
  application:
    name: hawthorn-backup
  profiles:
    include: common-dev

  # =====================================
  # druid
  # =====================================
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/hawthorn?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useOldAliasMetadataBehavior=true&useSSL=false&autoReconnect=true&failOverReadOnly=false
      username: root
      password: 123456
