# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.1.1
# =====================================

# =====================================
# 启动端口号
# =====================================
server:
  port: 4902
spring:
  application:
    name: hawthorn-backup

  # =====================================
  # consul
  # =====================================
  cloud:
    consul:
      enabled: true
      host: 10.211.55.2
      port: 8500
      discovery:
        enabled: true
        register: true # 是否将自身服务注册到consul中
        hostname: ${server.address}
        health-check-path: /actuator/health  #服务健康检查地址
        health-check-interval: 15s
        health-check-critical-timeout: 30s
        service-name: ${spring.application.name} # 注册到consul的服务名称
        # 默认的id为：${spring.application.name}-${server.port}
        # 默认id配置的问题是：某个微服务即使有多个实例，只要端口相同，那么Consul上依然只会保留1条数据！要想解决这个问题，只需要让不同实例，拥有不同的InstanceId即可。
        instance-id: ${spring.application.name}-${spring.cloud.client.ip-address}-${server.port}

  # =====================================
  # druid
  # =====================================
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/hawthorn?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useOldAliasMetadataBehavior=true&useSSL=false&autoReconnect=true&failOverReadOnly=false
      username: root
      password: 123456
