# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.1.0
# =====================================
server:
  tomcat:
    max-connections: 10000
    accept-count: 1000
    threads:
      max: 800
      min-spare: 100

spring:
  #  boot:
  #  admin: # 监控配置 使用注册中心，不需要单独增加client监控
  #  client:
  #    url: http://localhost:8000
  #  instance:
  #    prefer-ip: true
  #  discovery:
  #    ignored-services: consul

  #    main:
  #      allow-bean-definition-overriding: true #后注入的bean是否是覆盖
  servlet: # springboot2.0以后使用servlet，之前使用http
    multipart:
      max-file-size: 5MB # 单个文件大小
      max-request-size: 25MB # 总上传的数据大小
  security:
    user:
      name: admin
      password: admin

  # =====================================
  # consul
  # =====================================
  cloud:
    consul:
      enabled: true
      host: 10.211.55.2
      port: 8500
      discovery:
        enabled: true
        register: true # 是否将自身服务注册到consul中
        hostname: ${server.address}
        health-check-path: /actuator/health  #服务健康检查地址
        health-check-interval: 15s
        health-check-critical-timeout: 30s
        service-name: ${spring.application.name} # 注册到consul的服务名称
        # 默认的id为：${spring.application.name}-${server.port}
        # 默认id配置的问题是：某个微服务即使有多个实例，只要端口相同，那么Consul上依然只会保留1条数据！要想解决这个问题，只需要让不同实例，拥有不同的InstanceId即可。
        instance-id: ${spring.application.name}-${spring.cloud.client.ip-address}-${server.port}

  # =====================================
  # redis
  # =====================================
  redis:
    host: 10.211.55.2
    port: 6379 # Redis服务器连接端口
    password: 123456 # Redis服务器连接密码（默认为空）

    #    cluster: # redis集群
    #      max-redirects: 3 # 获取失败 最大重定向次数，默认值是5 一般当此值设置过大时，容易报：Too many Cluster redirections
    #      nodes: # redis节点
    #        - 10.0.0.1:6380
    #        - 10.0.0.2:6380
    #        - 10.0.0.3:6380
    #        - 10.0.0.1:6381
    #        - 10.0.0.2:6381
    #        - 10.0.0.3:6381

    lettuce: # lettuce:springboot2.0+使用；低版本使用：jedis
      pool:
        max-active: 300 # 连接池最大连接数（使用负值表示没有限制）
        max-wait: -1s # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 100 # 连接池中的最大空闲连接
        min-idle: 20 # 连接池中的最小空闲连接
    timeout: 30000 # 连接超时时间（毫秒）如果不设置，取默认值2000
    database: 0 # 连接的数据库

  # =====================================
  # rabbitmq
  # =====================================
  rabbitmq:
    host: 10.211.55.14
    port: 5672
    username: hawthorn-rbmq
    password: 123456
    virtual-host: hawthorn_vhost
    connection-timeout: 3000
    publisher-confirm-type: correlated
    publisher-returns: true
    template:
      retry:
        enabled: true
        max-attempts: 3
        initial-interval: 10000ms
        max-interval: 300000ms
        multiplier: 2

# 配置feign的Ribbon 不建议配置；httpclient的超时可以在类中配置；重试不建议配置是可能会调用多次导致数据重复
#ribbon:
#  # 当ribbon超时后且hystrix没有超时，就会使用到重试机制
#  # 使用Apache HttpClient连接超时时间，单位为毫秒 因为Ribbon有重试机制，所以Ribb的超时时间是 < Hystrix熔断的超时。
#  ConnectTimeout: 2000
#  # 使用Apache HttpClient读取的超时时间 因为Ribbon有重试机制，所以Ribb的超时时间是 < Hystrix熔断的超时。
#  ReadTimeout: 10000
#  # 最大连接数
#  #MaxTotalConnections: 500
#  # 每个host最大连接数
#  #MaxConnectionsPerHost: 500
#  # 对同一台当前实例的重试次数(请求服务超时6s则会再请求一次)
#  # Ribbon超时重试次数（总的请求次数）：（MaxAutoRetries+1）*（MaxAutoRetriesNextServer+1）
#  # 如果Ribbon没有配置重试时间和次数，默认1S超时，默认重试1次。
#  MaxAutoRetries: 0 # 配置为0表示取消重试
#  # 切换实例的重试次数 如果还失败就切换
#  MaxAutoRetriesNextServer: 1
#  # 对所有操作请求都进行重试；设置为false时，只会对get请求进行重试；对于post、put请求，如果重试，将会导致数据重复执行；
#  okToRetryOnAllOperations: false
#  # 对Http响应码进行重试
#  retryableStatusCodes: 500,401,404,502

# =====================================
# 配置feign
# =====================================
feign:
  httpclient:
    enabled: false # 让feign使用Apache HTTPClient做请求，而不是默认的urlConnection
  okhttp:
    enabled: false # 让feign使用Apache okhttp做请求，而不是默认的urlConnection,okhttp模式不支持压缩配置
  compression: # 压缩配置
    request:
      enabled: true
      mime-types: text/xml,application/xml,application/json # 默认
      min-request-size: 2048 # 默认
    response:
      enabled: true
  hystrix: # 在feign中开启hystrix功能，默认情况下feign不开启hystrix功能
    enabled: true

# =====================================
# 配置hystrix 采用配置类方式实现
# =====================================
#hystrix:
#  threadpool:
#    default:
#      coreSize: 10 # 线程池核心线程数，默认为10；并发执行的最大线程数；大多数时候，默认值为10的线程会很好
#      maxQueueSize: 1000 # 最大排队长度。默认-1，使用SynchronousQueue。其他值则使用 LinkedBlockingQueue。如果要从-1换成其他值则需重启，即该值不能动态调整，若要动态调整，需要使用到下边这个配置
#      queueSizeRejectionThreshold: 800 # 即使maxQueueSize没有达到，达到queueSizeRejectionThreshold该值后，请求也会被拒绝，默认值5
#  command:
#    default: # 全局默认参数，作用的所有的hystrix的客户端,如果需要对某个具体的接口，可以写接口+方法名称
#      enabled: true # 是否开启回退方法
#      execution:
#        isolation:
#          thread:
#            timeoutInMilliseconds: 30000 # 该配置用于 HystrixCommand 执行的超时时间设置，当 HystrixCommand 执行的时间超过了该配置所设置的数值后就会进入服务降级处理，单位是毫秒，默认值为 1000。
#      circuitBreaker:
#        requestVolumeThreshold: 50 # 当在配置时间窗口内达到此数量的失败后，进行短路。默认20个;
#        errorThresholdPercentage: 50% # 出错百分比阈值，当达到此阈值后，开始短路。默认50%）
#        sleepWindowInMilliseconds: 5000 # 短路多久以后开始尝试是否恢复，默认5s）-单位ms
#    TestDemoApi: 单个类配置

# =====================================
# 开放健康检查接口
# =====================================
management:
  endpoints:
    web:
      exposure:
        include: "*"
      # 自定义监控路径 admin
      # 默认值：http://localhost:7001/actuator/*
      # 配置后：http://localhost:7001/admin/*
      #base-path: /admin
  endpoint:
    health:
      show-details: ALWAYS

# =====================================
# swagger
# =====================================
springfox:
  documentation:
    swagger-ui:
      enabled: true
knife4j:
  enable: true

# =====================================
# 自定义属性
# =====================================
myprops:
  exectime:
    errtime: 5000
    warntime: 3000
