# =====================================
# @Desc: springboot工程配置文件，使用yml方式
#        包括：server、datasource(druid)、jpa配置
# @Auther: andy.ten@tom.com
# @Date: 2020/08/08 9:39 上午
# @Version: v1.0.1
# =====================================
# 启动端口号
server:
  address: 127.0.0.1
  port: 4703
spring:
  application:
    name: hawthorn-backup
  #main:
  # 后注入的bean是否是覆盖
  #allow-bean-definition-overriding: true
  # springboot2.0以后使用servlet，之前使用http:
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 5MB
      # 总上传的数据大小
      max-request-size: 25MB
  profiles:
    active: dev
# 开放健康检查接口
management:
  security:
    enabled: false
  health:
    #    db:
    #      enabled: false
    #    mail:
    #      enabled: false
    #    mongo:
    #      enabled: false
    #    redis:
    #      enabled: false
    consul:
      enabled: true
    binders:
      enabled: false
  endpoints:
    web:
      exposure:
        include: "*"
      # 自定义监控路径 admin
      # 默认值：http://localhost:7001/actuator/*
      # 配置后：http://localhost:7001/admin/*
      #base-path: /admin
  endpoint:
    health:
      show-details: ALWAYS
# 自定义属性
myprops:
  exectime:
    errtime: 3000
    warntime: 2000
