# =====================================
# @Desc: springboot工程配置文件，使用yml方式
#        包括：server、datasource(druid)、jpa配置
# @Auther: andy.ten@tom.com
# @Date: 2020/08/08 9:39 上午
# @Version: v1.0.1
# =====================================
# 启动端口号
server:
  port: 7001
spring:
  application:
    name: hawthorn-admin
  #main:
  # 后注入的bean是否是覆盖
  #allow-bean-definition-overriding: true
  # springboot2.0以后使用servlet，之前使用http:
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 5MB
      # 总上传的数据大小
      max-request-size: 25MB
  security:
    user:
      name: admin
      password: admin
  profiles:
    active: dev

# 配置feign
feign:
  httpclient:
    # 让feign使用Apache HTTPClient做请求，而不是默认的urlConnection
    enabled: true
    # feign最大连接数
    max-connections: 200
    # feign单个路径的最大连接数
    max-connections-per-route: 50
  okhttp:
    # 让feign使用Apache okhttp做请求，而不是默认的urlConnection
    # okhttp模式不支持压缩配置
    enabled: false
  # 压缩配置
  compression:
    request:
      enabled: true
      # 默认
      mime-types: text/xml,application/xml,application/json
      # 默认
      min-request-size: 2048
    response:
      enabled: true
  # 开启熔断器
  hystrix:
    enabled: true
# 自定义属性
myprops:
  exectime:
    errtime: 3000
    warntime: 2000
