# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.1.2
# =====================================

spring:
  security:
    user:
      name: admin
      password: admin
  profiles:
    active: dev
