# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.1.1
# =====================================

spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 25MB
  security:
    user:
      name: admin
      password: admin
  profiles:
    active: dev

# =====================================
# 配置feign
# =====================================
feign:
  httpclient:
    enabled: false
  okhttp:
    enabled: false
  compression:
    request:
      enabled: true
      mime-types: text/xml,application/xml,application/json # 默认
      min-request-size: 2048 # 默认
    response:
      enabled: true
  hystrix:
    enabled: true

# =====================================
# 开放健康检查接口
# =====================================
management:
  endpoints:
    web:
      exposure:
        include: "*"
      # 自定义监控路径 admin
      # 默认值：http://localhost:7001/actuator/*
      # 配置后：http://localhost:7001/admin/*
      #base-path: /admin
  endpoint:
    health:
      show-details: ALWAYS

# =====================================
# 自定义属性
# =====================================
myprops:
  exectime:
    errtime: 3000
    warntime: 2000
