# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Date: 2020/08/08 9:39 上午
# @Version: v1.0.1
# =====================================
spring:
  # consul配置
  cloud:
    consul:
      enabled: true
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true # 是否将自身服务注册到consul中
        hostname: 127.0.0.1
        healthCheckPath: /actuator/health  #服务健康检查地址
        healthCheckInterval: 15s
        serviceName: ${spring.application.name} # 注册到consul的服务名称
        # 默认的id为：${spring.application.name}-${server.port}
        # 默认id配置的问题是：某个微服务即使有多个实例，只要端口相同，那么Consul上依然只会保留1条数据！要想解决这个问题，只需要让不同实例，拥有不同的InstanceId即可。
        instanceId: ${spring.application.name}-${spring.cloud.client.ip-address}-${server.port}  # 服务id
# 开放健康检查接口
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS
# 配置log
logging:
  config: classpath:logback-spring-dev.xml
  level:
    #io.swagger.models.parameters.AbstractSerializableParameter: error
    com.hawthorn: debug
    org.ibatis: debug
    druid.sql: debug
    org.springframework.jdbc: info
    root: info


