# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Date: 2020/08/08 9:39 上午
# @Version: v1.0.1
# =====================================

# 配置log
logging:
  config: classpath:logback-spring-dev.xml
  level:
    #io.swagger.models.parameters.AbstractSerializableParameter: error
    com.hawthorn: debug
    org.ibatis: debug
    druid.sql: debug
    org.springframework.jdbc: info
    root: info
