# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.1.0
# =====================================
server:
  tomcat:
    max-connections: 10000
    accept-count: 1000
    threads:
      max: 800
      min-spare: 100

spring:
  # =====================================
  # consul配置
  # =====================================
  cloud:
    consul:
      enabled: true
      host: 10.211.55.2
      port: 8500
      discovery:
        enabled: true
        register: true
        #        hostname: ${server.address}
        health-check-path: /actuator/health
        health-check-interval: 15s
        health-check-critical-timeout: 30s
        service-name: ${spring.application.name}
        instance-id: ${spring.application.name}-${spring.cloud.client.ip-address}-${server.port}

  # =====================================
  # redis
  # =====================================
  redis:
    host: 127.0.0.1
    port: 6379
    password: 123456
    lettuce:
      pool:
        max-active: 300
        max-wait: -1s
        max-idle: 100
        min-idle: 20
    timeout: 30000
    database: 0

# =====================================
# swagger
# =====================================
springfox:
  documentation:
    swagger-ui:
      enabled: true
knife4j:
  enable: true

# =====================================
# log配置
# =====================================
logging:
  config: classpath:logback-spring-dev.xml
  level:
    com.hawthorn: debug
    org.ibatis: debug
    druid.sql: debug
    org.springframework.jdbc: info
    root: info
