<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawthorn.redis.repository.DictCacheMapper">
  <!-- 通用查询映射结果到DTO(不带公共字段) -->
  <resultMap id="BaseResultMap" type="com.hawthorn.redis.model.dto.dictcache.DictCacheDTO">
    <!-- 主键 -->
    <id column="id" property="id"/>
    <!-- 业务字段 -->
    <result column="value" property="value"/>
    <result column="lable" property="label"/>
    <result column="type" property="type"/>
  </resultMap>

  <!-- 通用查询映射结果到PO(带公共字段) -->
  <resultMap id="BaseResultMapAll" type="com.hawthorn.redis.model.po.DictCachePO">
    <!-- 主键 -->
    <id column="id" property="id"/>
    <!-- 公共字段 -->
    <result column="status" property="status"/>
    <result column="create_by" property="createBy"/>
    <result column="create_time" property="createTime"/>
    <result column="last_update_by" property="lastUpdateBy"/>
    <result column="last_update_time" property="lastUpdateTime"/>
    <result column="del_flag" property="delFlag"/>
    <result column="version" property="version"/>
    <!-- 业务字段 -->
    <result column="value" property="value"/>
    <result column="label" property="label"/>
    <result column="type" property="type"/>
  </resultMap>
</mapper>
