# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.0.3
# =====================================

spring:
  #    main:
  #      allow-bean-definition-overriding: true #后注入的bean是否是覆盖
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 25MB
  security:
    user:
      name: admin
      password: admin
  profiles:
    active: prod

# =====================================
# 开放健康检查接口
# =====================================
management:
  endpoints:
    web:
      exposure:
        include: "*"
      # 自定义监控路径 admin
      # 默认值：http://localhost:7001/actuator/*
      # 配置后：http://localhost:7001/admin/*
      #base-path: /admin
  endpoint:
    health:
      show-details: ALWAYS

# =====================================
# 自定义属性
# =====================================
myprops:
  exectime:
    errtime: 3000
    warntime: 2000
