<?xml version="1.0" encoding="UTF-8"?>
<!--springboot自带的日志即slf4j+logback-spring.xml-->
<configuration>
  <!--
  <springProperty scope="context" name="logLevel" source="logging.level"/>
  <springProperty scope="context" name="logFile" source="logging.file"/>
  -->
  <!-- 从application.yml 中获取参数 -->
  <springProperty scope="context" name="springAppName" source="spring.application.name"/>
  <property name="LOG" value="logs"/>
  <property name="LOGERROR" value="logs_error"/>
  <property name="LOGWARN" value="logs_warn"/>
  <property name="LOGSTASH" value="logs_trace"/>

  <!-- 文件输出格式 -->
  <property name="PATTERN" value="%-23(%d{yyyy-MM-dd HH:mm:ss.SSS}) |[${springAppName:-appname},%X{X-B3-TraceId:-traceid},%X{X-B3-SpanId:-spanid},%X{userAccount:-account}] [%thread] %-5level %c [%L] -|%msg%n"/>
  <property name="PATTERN-CONSOLE" value="%-23(%d{yyyy-MM-dd HH:mm:ss.SSS}) |[${springAppName:-appname},%X{X-B3-TraceId:-traceid},%X{X-B3-SpanId:-spanid},%X{userAccount:-account}] %magenta([%thread]) -%green(%-5level) %cyan(%c [%L]) -|%msg%n"/>
  <property name="ROLLINGSIZE" value="5MB"/>
  <!--日志文件输出路径 工程所在目录-->
  <property name="FILE_PATH" value="logs/"/>

  <logger name="com.hawthorn"/>
  <logger name="org.springframework.web" level="info"/>
  <logger name="org.springframework.dao" level="info"/>
  <logger name="org.springframework.jdbc"/>
  <logger name="springfox.documentation" level="WARN"/>
  <logger name="com.netflix.discovery" level="WARN"/>
  <logger name="org.springframework.context" level="WARN"/>
  <logger name="org.springframework.core" level="WARN"/>
  <logger name="org.springframework.data" level="WARN"/>
  <logger name="org.ibatis"/>
  <logger name="druid.sql"/>

  <!-- 控制台打印 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PATTERN-CONSOLE}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- 每天产生一个文件 -->
  <appender name="ALLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 文件路径 -->
    <file>${FILE_PATH}/${LOG}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 文件名称 -->
      <fileNamePattern>${FILE_PATH}/${LOG}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      <maxFileSize>${ROLLINGSIZE}</maxFileSize>
      <!--日志文件保留天数30天 -->
      <maxHistory>3</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PATTERN}</pattern>
    </layout>
  </appender>

  <!-- 错误日志打印 -->
  <appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 文件路径 -->
    <file>${FILE_PATH}/${LOGERROR}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 文件名称 -->
      <fileNamePattern>${FILE_PATH}/${LOGERROR}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      <maxFileSize>${ROLLINGSIZE}</maxFileSize>
      <!--日志文件保留天数30天 -->
      <maxHistory>3</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <append>true</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PATTERN}</pattern>
    </layout>
    <!-- 此日志文件只记录error级别的 -->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <!-- 警告日志打印 -->
  <appender name="WARNFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 文件路径 -->
    <file>${FILE_PATH}/${LOGWARN}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 文件名称 -->
      <fileNamePattern>${FILE_PATH}/${LOGWARN}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      <maxFileSize>${ROLLINGSIZE}</maxFileSize>
      <!-- 日志文件保留天数30天 -->
      <maxHistory>3</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <append>true</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PATTERN}</pattern>
    </layout>
    <!-- 此日志文件记录warn级别以及以上 -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <!-- druid慢查询日志输出 -->
  <appender name="Druid_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 正在记录的日志文件的路径及文件名 -->
    <file>${FILE_PATH}/log_druid.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 文件名称 -->
      <fileNamePattern>${FILE_PATH}/logs_druid.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      <maxFileSize>${ROLLINGSIZE}</maxFileSize>
      <!-- 日志文件保留天数30天 -->
      <maxHistory>3</maxHistory>
      <totalSizeCap>50MB</totalSizeCap>
    </rollingPolicy>
    <append>true</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PATTERN}</pattern>
    </layout>
    <!-- 此日志文件记录warn级别以及以上 -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>
  <!-- druid慢查询日志，additivity="false" 设置打印信息行为不向上级传递 -->
  <logger name="com.alibaba.druid.filter.stat.StatFilter" level="ERROR" additivity="false">
    <appender-ref ref="Druid_FILE"/>
  </logger>

  <!-- execTime慢方法日志输出 -->
  <appender name="ExecTime_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 正在记录的日志文件的路径及文件名 -->
    <file>${FILE_PATH}/log_exectime.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 文件名称 -->
      <fileNamePattern>${FILE_PATH}/logs_exectime.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      <maxFileSize>${ROLLINGSIZE}</maxFileSize>
      <!-- 日志文件保留天数30天 -->
      <maxHistory>3</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <append>true</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PATTERN}</pattern>
    </layout>
    <!-- 此日志文件记录warn级别以及以上 -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <!-- execTime执行方法慢日志 -->
  <logger name="com.hawthorn.platform.aspect.ExecTimeAspect">
    <appender-ref ref="ExecTime_FILE"/>
  </logger>

  <!-- Appender to log to file in a JSON format -->
  <appender name="LOGSTASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
    <param name="Encoding" value="UTF-8"/>
    <!--
    <remoteHost>192.168.1.242</remoteHost>
    <port>5044</port>
    -->
    <!--<destination>10.211.55.14:5044</destination>-->
    <file>${FILE_PATH}/${LOGSTASH}.json</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${FILE_PATH}/${LOGSTASH}.json.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <!-- 自定义索引名 -->
      <!--      <customFields>{"appname":"{springAppName:-}}</customFields>-->
      <providers>
        <timestamp>
          <timeZone>UTC</timeZone>
        </timestamp>
        <pattern>
          <pattern>
            {
            "severity": "%level",
            "service": "${springAppName:-}",
            "trace": "%X{X-B3-TraceId:-}",
            "span": "%X{X-B3-SpanId:-}",
            "parent": "%X{X-B3-ParentSpanId:-}",
            "exportable": "%X{X-Span-Export:-}",
            "pid": "${PID:-}",
            "thread": "%thread",
            "class": "%logger{40}",
            "rest": "%message"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>

  <root>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ALLFILE"/>
    <appender-ref ref="ERRORFILE"/>
    <appender-ref ref="WARNFILE"/>
    <appender-ref ref="LOGSTASH"/>
  </root>

  <jmxConfigurator/>
</configuration>
