# =====================================
# @Desc: springboot工程配置文件，使用yml方式
# @Auther: andy.ten@tom.com
# @Version: v1.0.2
# =====================================
server:
  tomcat:
    max-connections: 10000
    accept-count: 1000
    threads:
      max: 800
      min-spare: 100

spring:
  boot:
    admin:
      discovery: # 忽略监控服务
        ignored-services: consul # 忽略consul，会报错
  # =====================================
  # consul
  # =====================================
  cloud:
    consul:
      enabled: true
      host: 10.211.55.2
      port: 8500
      discovery:
        enabled: true
        register: true
        hostname: ${server.address}
        health-check-path: /actuator/health
        health-check-interval: 15s
        health-check-critical-timeout: 30s
        service-name: ${spring.application.name}
        instance-id: ${spring.application.name}-${spring.cloud.client.ip-address}-${server.port}

# =====================================
# logback
# =====================================
logging:
  config: classpath:logback-spring-prod.xml
  level:
    #io.swagger.models.parameters.AbstractSerializableParameter: error
    com.hawthorn: debug
    org.ibatis: debug
    druid.sql: debug
    org.springframework.jdbc: info
    root: info
